<md-grid-list cols="4" rowHeight="500px">
  <md-grid-tile
    [colspan]="2"
    [rowspan]="1">
  <table>
    <tr>
      <td style="text-align: center;">
        <h2>Event Statistics</h2>
      </td>
    </tr>
    <tr>
      <td>
        <p-chart type="doughnut" [data]="data1" [options]="options" width="300" height="300" ></p-chart>

      </td>
    </tr>
  </table>
  </md-grid-tile>

  <md-grid-tile
    [colspan]="2"
    [rowspan]="1">
    <table>
      <tr>
        <td style="text-align: center;">
          <h2>Contributions</h2>
        </td>
      </tr>
      <tr>
        <td>
          <p-chart type="doughnut" [data]="data2" [options]="options" width="300" height="300" ></p-chart>
        </td>
      </tr>
    </table>
  </md-grid-tile>
  <md-grid-tile
  [colspan]="4"
  [rowspan]="2">
  <table>
    <tr>
      <td>
        <h2> Transaction Log</h2>
      </td>
    </tr>
    <tr>
      <td>
        <app-log-table></app-log-table>
      </td>
    </tr>
  </table>
</md-grid-tile>

</md-grid-list>
