.example-container {
  width: calc(100vw - 16px);
  height: calc(100vh - 16px);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 0px;
}
.example-header-image {
  background-image: url('https://scontent.ftlv1-1.fna.fbcdn.net/v/t1.0-9/13895111_10205121212668670_4075659053528365697_n.jpg?oh=408bdb23bf87b22d3b6b222f70cb483c&oe=599553B4');
  background-size: cover;
}
.example-card {
  width: 400px;
}


.example-button-row {
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: space-around;*/
}

a.stretch{
  width: 230px;
}
