<!--&lt;!&ndash;<md-tab-group style="position: fixed;top: 0px ; left :0px; width: 100vw">&ndash;&gt;-->
<!--<md-tab-group style="position: absolute;top: 0px ; left :0px; width: 100vw">-->
  <!--&lt;!&ndash;<md-tab label="Shop" style="flex-direction: column; display: f"><app-cards></app-cards></md-tab>&ndash;&gt;-->
  <!--<md-tab label="Shop" style="position: absolute;"><app-cards></app-cards></md-tab>-->
  <!--<md-tab label="Purchases">Content 2</md-tab>-->
<!--</md-tab-group>-->

<md-tab-group style="top:0px; position : absolute ; width: 90vw ; left: 10vw ">
  <md-tab label="Shop">
    <app-cards></app-cards>
  </md-tab>
  <md-tab label="Purchases">
    blabla
  </md-tab>
</md-tab-group>
